# project
_site
.sass-cache
.vagrant

# general
.DS_Store
Thumbs.db
ehthumbs.db

Gemfile.lock

beautiful-jekyll-theme-*.gem
.Rproj.user

# Resume build artifacts
resume_code/.wos_cache.json
resume_code/test_response.json
